* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-image: linear-gradient(to right bottom, rgba(168, 255, 120, 0.8), rgba(120, 255, 214, 0.8)), url(../assets/headerbg.jpg);
  background-position: center;
  background-size: cover;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100vw 0vh, 100vw 80vh, 0 95vh); }
  header h1 {
    text-align: center;
    color: white;
    padding: 10px; }
