@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin section($bgcolor, $shape, $orientation, $smoothie-url:""){
    position:relative;
    overflow: hidden;
    text-align: $orientation;
    height:100vh;
background-color: $bgcolor;
clip-path: $shape;
-webkit-clip-path: $shape;
display: flex;
.column{
    .input-label {
        color: if($bgcolor==white, darken($green, 30%), $white); 
    }
    input {
        border-radius: 15px;
        border: none;
        box-shadow: none;
        margin: 5px;
        padding-left: $default-padding;
    }
    textarea {
        border-radius: 15px;
        border: none;
        box-shadow: none;
        margin: 5px;
        padding-left: $default-padding;
    }
}

.animated-smoothie {
    align-self: center;
    position: absolute;
    height: 60%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @if $smoothie-url != "" {
        background-image: $smoothie-url;
      }
    @if $orientation==left{
        
    }
    @if $orientation==right{
        
    }
}
.section-body{
    align-self: center;
    text-align: $orientation;
    max-width: 800px;
    position: relative;
    margin: auto;
    padding: $default-padding;
    
    .lorem-here {
        color: if($bgcolor==white, darken($green, 30%), $white);  
        text-shadow: 0.5px 0.5px darken($bgcolor, 10%);
    }
    .section-title {
        text-align: if($orientation==left, right, left);
        font-family: $section-titles-font;
        color: if($bgcolor==white, darken($green, 30%), $white);
        margin: 50px;
        font-weight: bold;
        h2 {
            font-size: 4rem;
        }
    }
}
}

@mixin clip-path($path) {
    clip-path: $pathl;
    -webkit-clip-path: $pathl; 
}