@import 'variables', 'mixins', 'keyframes';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* //padding is not inherited lower! */
    padding: 30px;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
background-image: linear-gradient(to right bottom, $gradient-color-one, $gradient-color-two), url(../assets/headerbg.jpg);
background-position: center;
background-size: cover;
height: 95vh;
position: relative;
clip-path: $cut-bot;

.header-body{
   transform: translateY(-15%);
    text-align: center;
    .logo-container {
        background-image: $smiling-smoothie; 
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        @include animation( 'sway 1s ease-in-out 1');
    }
    .lorem-header {
        @include animation('moveinleft 1s ease-in-out 1');
        color: $white;
    }
        h1 {
            text-align: center;
            color: white;
            padding: $default-padding;
            font-family: $title-font;
            font-size: 5em;
            @include animation('moveinright 1s ease-in-out 1');
        }
        .btn-white {
            @extend .btn;
        background-color: #fff;
        color: darken($gradient-color-two, 40% );
        border-radius: 30px;
        width: 150px;
        height: 40px;
        box-shadow: none;
        border: none;
        @include animation('moveinleft 1s ease-in-out 1');
        }
}
}

.healthy-and-delicious{
    @include section($white, $cut-bot, right, $healthy-smoothie);
}

.every-smoothie-is{
    @include section($blue, $cut-bot, left);
}

.lose-weight{
    @include section($white, $cut-bot, right, $smiling-smoothie);
}

.add-muscule{
    @include section($green, $cut-bot, left, $swole-smoothie-green);
}

.stay-alert{
    @include section($white, $cut-bot, right, $smiling-smoothie);
}

.sign-up{
    @include section($orange, $cut-bot, left);
}


//buttons
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
}

.btn:hover {
  transform: translateY(-3px);
}

/* //animate goes down on click */
.btn:active {
  transform: translateY(-1px);
}




