@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Lato|Merienda|Pacifico|Permanent+Marker|Poiret+One');

// colors
$green:	rgb(206, 231, 168);
$yellow: 	#f9d62e;
$orange: #fc913a;
$red: #ff4e50;
$blue: #6fbdd4;
$white: white;





$primary-color: $green;
$secondary-color: $yellow;
$gradient-color-one: rgba(168, 255, 120, 0.8);
$gradient-color-two: rgba(120, 255, 214, 0.8);
// colors

// spacing
$default-padding: 10px;
$default-margin: 10px;
//

//fonts
$main-font: "Lato", sans-serif;
$title-font: 'Dancing Script', cursive;
$section-titles-font: $main-font;

//clip paths
$cut-bot: polygon(0 0, 100vw 0vh, 100vw 80vh, 0 95vh);
$cut-both-left: polygon(0 12%, 100% 0%, 100% 100%, 0 92%);
$cut-both: polygon(4% 3%, 100% 0, 95% 94%, 0 100%);
$cut-both-right: polygon(0 0, 100% 2%, 100% 94%, 0 100%);
$cut-top: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
$square: polygon(0 0, 100% 0, 100% 100%, 0 100%);

//img url
$smiling-smoothie: url(../assets/happy-smoothie.png);
$swole-smoothie: url(../assets/swole-smoothie.png);
$healthy-smoothie: url(../assets/healthy-smoothie.png);
$swole-smoothie-green: url(../assets/swole-smoothie-green.png);
