// colors
$green: green;
$yellow: yellow;
$orange: orange;
$red: red;





$primary-color: $green;
$secondary-color: $yellow;
$gradient-color-one: rgba(168, 255, 120, 0.8);
$gradient-color-two: rgba(120, 255, 214, 0.8);
// colors

// spacing
$default-padding: 10px;
$default-margin: 10px;
//

